<div class="unit span-grid">
  <div class="config">
    <% form_tag '/config/update', :class => 'pure-form', :method => 'post' do %>
      <fieldset>
        <legend>Config Git Repo</legend>
        <div class="unit four-of-five">
          <%= text_field_tag :location, :value => current_user.repo, :placeholder => "git@github.com:user/repo.git", :style => 'width: 100%' %>
        </div>
        <div class="unit one-of-five">
          <%= submit_tag 'Update', :class => 'pure-button pure-button-primary pure-button-small', :style => "line-height: 1rem;"%>
        </div>
      </fieldset>
    <% end %>
  </div>

  <table class="pure-table pure-table-striped unit span-grid">
    <thead>
      <tr>
        <th>Site</th>
        <th>Repo</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.sites.each do |site| %>
        <tr>
          <td><%= site.name %></td>
          <td><%= site.repo %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

