<div class="unit span-grid">
  <table class="pure-table pure-table-striped unit span-grid">
    <thead>
      <tr>
        <th>Site</th>
        <th>Repo</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.sites.each do |site| %>
        <tr>
          <td><%= site.name %></td>
          <td><%= site.repo %></td>
          <td><%= site.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

