<div class="unit one-of-four">
  <aside role="contentinfo">
  <p><a class="signup-button pure-button" href="/login">Get Started!</a></p>
  </aside>
</div>

<div class="unit three-of-four">
  <p>CreeperMon is a tool for keeping an eye on websites. It is really dumb.</p>

  <p>Wanna know more? Check out the <a href="http://github.com/icco/creeper">code</a>.</p>
</div>
