<div class="unit one-of-four">
  <aside role="contentinfo">
  <p><a class="signup-button" href="/login">Get Started!</a></p>
  </aside>
</div>

<div class="unit three-of-four">
  <p>CreeperMon is a tool for managing lots of websites on a single host. Think of it as a really dumb heroku.</p>

  <p>Wanna know more? Check out the <a href="http://github.com/icco/creeper">code</a>.</p>
</div>
