<div class="well" style="max-width: 400px; margin: 0 auto 10px;">
  <p><img src="/img/2001.gif" class="img-rounded" alt="Wanna give it a go?"></p>

  <% if Padrino.env == :development %>
    <% form_tag "/auth/developer/callback", :method => 'post' do %>
      <%= label_tag :nickname, :caption => "Username" %><br>
      <%= text_field_tag :nickname %>
      <%= submit_tag "Login!", :class => "btn btn-large btn-block btn-primary" %>
    <% end %>
  <% else %>
    <p><a href="/login" class="btn btn-large btn-block btn-primary">Login!</a> </p>
  <% end %>
</div>
