<div class="well" style="max-width: 400px; margin: 0 auto 10px;">
  <% if Padrino.env == :development %>
    <% form_tag "/auth/developer/callback", :method => 'post', :class => 'pure-form' do %>
      <fieldset>
        <legend>MY GOD! A DEVELOPER!</legend>
        <%= text_field_tag :nickname, :placeholder => 'Username' %>
        <%= submit_tag "Login!", :class => "pure-button pure-button-primary" %>
      </fieldset>
    <% end %>
  <% else %>
    <p><a href="/auth/github" class="btn btn-large btn-block btn-primary">Login!</a> </p>
  <% end %>
</div>
