<!DOCTYPE html>
<html>
  <head>
    <title>Creeper-mon</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Creeper
        <small class="lead">for watching websites.</small>
        </h1>
      </div>
      <div>
        <%= yield %>
      </div>
    </div> <!-- /container -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
