<!DOCTYPE html>
<html>
  <head>
    <title>Creeper-mon</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/application.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Creeper
        <small class="lead">for watching websites.</small>
        </h1>
      </div>
      <div>
        <%= yield %>
      </div>
    </div> <!-- /container -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js" charset="utf-8"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
